profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
        process.account = 'davidxie_lab'
        process.queue = 'normal'
        process.memory = '10GB'
    }

    big_mem {
        process.executor = 'slurm'
        process.account = 'davidxie_lab'
        process.queue = 'normal'
        process.memory = '100GB'
        process.cpus = '40'
    }

    cloud {
        process.executor = 'cirrus'
        process.container = 'cbcrg/imagex'
        docker.enabled = true
    }

}
